@font-face {
  font-family: 'BMJUA';
  src: url('BMJUA.svg#BMJUA') format('svg'),
       url('BMJUA.ttf') format('truetype'),
       url('BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMJUA_ttf';
  src: url('BMJUA_ttf.eot');
  src: url('BMJUA_ttf.eot?#iefix') format('embedded-opentype'),
       url('BMJUA_ttf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

div{
  font-family: 'BMJUA','BMJUA_ttf'
}