<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font/font.css') }}" />
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"></script>
</head>
<body>

<div id="donate" class="container">
	<div class="item"><img id="imgs" src="#" style="width:24rem; height:16rem;"></div><br>
	<div id="messages" class="item"></div>
</div>

<input id="img" type="hidden" value="{{img | default('/static/picture/smile.jpg')}}" ">
<input id="content" type="hidden" value="{{content | default('$user$이가 당신에게 $money$원을 기부하였습니다 :D')}}">
<input id="realid" type="hidden" value="{{realid}}">
<!-- <input type="button" onclick="rejoin()"> -->

<script type="text/javascript" charset="utf-8">
	var socket = io();
	var donateword = $('input#content').val();
	var img = $('input#img').val();

	socket.on('connect', function () {
		socket.emit('join', {room: '{{realid}}'});
	});

	socket.on('welcome', function (data) {
		console.log(':D');
	});

	socket.on('clear', function (data) {
		$("#donate").fadeOut(1000);
	});

	socket.on('new', function (msg) {
		$("#donate").fadeOut(1000, function() {
			$("#imgs").attr("src", img);
				var word = donateword.replace('$user$',msg.sender).replace('$money$',msg.money) + '<br><br><center>' + msg.data + '</center>';
				//speech(msg.data);
			$("#messages").html(word);
			$(this).fadeIn(1000);
		});
		console.log(msg);
	});

	socket.on('heart', function(data) {
		socket.emit('alive', {room: '{{realid}}'});
	});

	function rejoin() {
		socket.emit('leave', {room: '{{realid}}'});
		socket.emit('join', {root: '{{realid}}'});
	}

	$(window).on('load', function() {
		$("#donate").fadeOut();
	});


/*
	var voices = [];
	function setVoiceList() {
		voices = window.speechSynthesis.getVoices();
	}

	setVoiceList();
	
	if (window.speechSynthesis.onvoiceschanged !== undefined) {
		window.speechSynthesis.onvoiceschanged = setVoiceList;
	}

	function speech(txt) {
		if(!window.speechSynthesis) {
			alert("음성 재생을 지원하지 않는 브라우저입니다. 크롬, 파이어폭스 등의 최신 브라우저를 이용하세요");
		return;
		}
		var lang = 'ko-KR';
		var utterThis = new SpeechSynthesisUtterance(txt);

		utterThis.onend = function (event) {
			console.log('end');
		};

		utterThis.onerror = function(event) {
			console.log('error', event);
		};

		var voiceFound = false;
				for(var i = 0; i < voices.length ; i++) {
					if(voices[i].lang.indexOf(lang) >= 0 || voices[i].lang.indexOf(lang.replace('-', '_')) >= 0) {
					utterThis.voice = voices[i];
					voiceFound = true;
					}
		}

		if(!voiceFound) {
			alert('voice not found');
			return;
		}

			utterThis.lang = lang;
			utterThis.pitch = 1;
			utterThis.rate = 1; //속도
			window.speechSynthesis.speak(utterThis);
		}
*/
</script>
</body>
</html>
